.button {
    width: 60px;
    text-align: center;
    cursor: pointer;   
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.container {
    color: black;
}