.button {
    border-radius: 200px;
    width: 176px;
    height: 56px;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #22243a;
}

.iconClose {    
    border: 1px solid;
    position: absolute;
    top: 20px; 
    right: 20px;
    width: 24px;
    height: 24px; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    background-color: transparent; 
    padding: 0; 
    cursor: pointer; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.container {
    max-height: 80vh; 
    overflow-y: auto;
}